BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 170
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
